'context-menu':
  'atom-text-editor': [
    {
      'label': 'SourceFetch selection'
      'command': 'sourcefetch:fetch'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'SourceFetch'
      'submenu': [
        {
          'label': 'SourceFetch Selection'
          'command': 'sourcefetch:fetch'
        }
      ]
    ]
  }
]
